body{
margin:0;
font-family: Arial, Helvetica, sans-serif;

}

header {
border-bottom: 3px ridge grey;
background: #393943;
}

header > h1 {
    margin: 0;
    padding: 25px;
    text-align: center;
}
article {
    width: 70%;
    background: #f493f4;
    padding: 5px;
    flex-grow: 2;

}

aside {
    width: 30%;
    background: salmon;
    border-left: 3px ridge blue;
    box-sizing: border-box;
    float: right;
    padding: 5px;
    flex-grow: 1;

}
#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    flex-grow: 1;
}

#main-view{
    display:flex;
    flex-direction: row;


}

span{
    background-color: royalblue;
}